.iconBar {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    gap: 2rem;
    position: fixed;
    right: 0;
    margin-right: 1.5rem;
}

.iconBar a {
    transition: transform 200ms;
}

.iconBar a:hover {  
    transform: scale(125%);
}

@media screen and (max-width:768px) {
    .iconBar {
      width: 10px;
    }
  }